/*28.10.2020*/
.sidebar-mini .navbar-expand .navbar-nav .dropdown-menu{
	padding: 0;
	margin: 0;
}
.sidebar-mini .dropdown-divider{
	margin: 0;
}
/*28.10.2020*/

.nav-sidebar .nav-treeview{
    padding-left: 20px;
}